html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
#myholder {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.box {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: hsl(0, 0%, 90%);
  border-radius: 0.5rem;
}
.grid {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 6rem);
  gap: 0.1rem;
  list-style-type: none;
  border-radius: 0.5rem;
}
